---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

.info-segment {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: left;
  margin-right: 20px;
  height: 100%;
}

.info-segment-2 {
  padding-left: 20px;
  padding-top: 0px;
  text-align: left;
  margin-right: 20px;
  height: 100%;
}


.header_background {
  width: 100%;
  height: 90px;
  background-color: $background-color;
}

.section_intro {
  width: 100%;
  height: 350px;
  background-color: $background-color;
  
}


.programma-segment{
  width: 100%;
  height: 350px;
  background-color: $background-color;
  margin-top: 20px;
  margin-top: 40px;
}


.programma-segment-2{
  width: 100%;
  height: auto;
  background-color: $background-color;
  margin-top: 20px;
  margin-top: 40px;
}

.separator {
    border-color: $primary-color;
    border-width: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto; /* This will center the separator horizontally */
}


.separator_intro {
  border-color: $primary-color;
  border-width: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 300px;
  align-items: center;
  margin-left: auto;
  margin-right: auto; /* This will center the separator horizontally */
}

.separator_program {
  border-color: $primary-color;
  border-width: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 130px;
  align-items: center;
  margin-left: auto;
  margin-right: auto; /* This will center the separator horizontally */
}


.h2_intro {
  font-size: 20pt;
  text-align: center;
  margin: auto;
  width: fit-content;
  padding-right: 50px;
}

.h2_info {
  font-size: 20pt;
  text-align: right;
  margin-left: auto;
  width: fit-content;
  padding-right: 50px;
}

.extra_margin {
  margin:5px;
}

.sub_h2_info {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.sub_sub_h2_info {
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  margin-top: 0;
}

.p_intro {
  margin:7px;
  font-size: 13pt;
  font-family: math;
  text-align: center;
  margin-bottom: 15px;
}

.li_intro {
  margin:7px;
  font-size: 13pt;
  font-family: math;
}

.p_intro_sign {
  margin:7px;
  font-size: 11pt;
  font-family: math;
  text-align: center;
}

.p_intro_countdown {
  margin:7px;
  font-size: 20pt;
  font-family: math;
}

.container_countdown {
  padding-left: 110px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding-top: 90px;
  width: 100%;
}

/* Section 1 */
.section-1 {
  background-image: url('{{ site.baseurl }}/assets/images/vinci_panorama.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fixed background */
  width: auto;
  height: 450px;
}


// /* Section 1 */ Genova
.hero-1 {
  background-image: url('{{ site.baseurl }}/assets/images/genoa_alto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Fixed background */
  width: auto;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}


// /* Section 1 */ NON UTILIZZATA
.hero-2 {
  background-image: url('{{ site.baseurl }}/assets/images/genoa_alto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background */
  width: auto;
  height: 450px;
}


/* Section 1 */
.hero-3 {
  background-image: url('{{ site.baseurl }}/assets/images/beach.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Fixed background */
  width: auto;

  height: 450px;

}


/* Section 1 */
.hero-4 {
  background-image: url('{{ site.baseurl }}/assets/images/parapendio.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Fixed background */
  width: auto;
  height: 450px;
}

.row {

  padding-left: 30px;
  padding-right: 30px;

} 

.row-test {
  margin-right: -15px;
  margin-left: -15px;
}


.row-2 {
  padding-left: 0px;
}

.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.second-heading-text-center {
      margin-top: 0;
}

.three_images {
  max-width: 32%;
  overflow: cover;
}


.two_images {
  max-width: 15%;
  max-height: 15%;
  object-fit: cover;
}

.gallery {
  display: flex;
  overflow: hidden;
  
  width: 100%;
  height: 100%;
}

  /* Style for the program schedule container */
  .program-schedule {
    margin:10px;
    text-align: justify-;      /* Centers text inside the container */
    padding: 20px;
    border: 1px solid #bbb;  /* Optional: Adds a border around the schedule */
    border-radius: 8px;      /* Optional: Rounds the corners of the border */
  }

  no-dots {
    list-style-type: none; /* Removes the default bullets */
    padding-left: 0; /* Optional: Removes any default padding */
  }

  #countdown {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: 	 #e6b800;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    height: 40p;
  }

dl {
  margin: 0;
  padding: 0;
}

.dl-horizontal dt{
  float: left;
  width: 160px;
  overflow: auto;
  text-align: right;
  white-space: nowrap;
  font-size: 20px;
}



.dl-horizontal {
  margin: 0;
}

.dl-row {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  margin-bottom: 1em;
  height: fit-content;
}

dt {
  padding-top:3px;
  font-weight: 700;
  font-size: 13pt;
  margin: 0;
  margin-right: 0px; /* Optional: Add some space between <dt> and <dd> */
}

dd, dt {
  margin-left: 10px;
  line-height: 1.42857143;
  display: inline; /* Makes <dd> inline */
}

.gallery-2 {
  height: 100%;
  background-color: $background-color;  /* A soft grey that goes well with #fff */
  display: flex;
  overflow: cover;
  justify-content: space-evenly;
  align-items: center;
  padding-left:15px;
  padding-bottom:30px;
}


.gallery-3 {
  height: 450px;
  background-color: $background-color;  /* A soft grey that goes well with #fff */
  padding: 105px;
  display: flex;
  overflow: cover;
  justify-content: space-evenly;
  align-items: center;
}


.gallery-4 {
  height: 450px;
  background-color: $background-color;  /* A soft grey that goes well with #fff */
  display: flex;
  overflow: cover;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
}

/* Container for each image */
.image-container {
  position: relative;
}

/* Style for the image */
.image-container img {
  width: 300px;  /* Adjust to fit the container */
  height: 300px;  /* Adjust to fit the container */
}

/* Style for the clickable text */
.video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  color: white; /* Red text color */
  font-size: 24px;  /* Font size */
  text-decoration: none;  /* Remove underline */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
  padding: 10px 20px;  /* Padding around the text */
  border-radius: 5px;  /* Rounded corners */
  opacity: 0;  /* Hidden initially */
  pointer-events: none;  /* Disable interaction by default */
  transition: opacity 0.3s ease;  /* Smooth fade-in transition */
}

/* Show the text when hovering over the container */
.image-container:hover .video-link {
  opacity: 1;  /* Make the text visible */
  pointer-events: auto;  /* Enable interaction (clicking) */
}



/* Container for each image */
.image-container-2 {
  position: relative;
}

/* Style for the image */
.image-container-2 img {
  width: 400px;  /* Adjust to fit the container */
  height: 300px;  /* Adjust to fit the container */
  margin-bottom: 10px;
}

/* Style for the clickable text */
.video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  color: white; /* Red text color */
  font-size: 15px;  /* Font size */
  text-decoration: none;  /* Remove underline */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
  padding: 10px 20px;  /* Padding around the text */
  border-radius: 5px;  /* Rounded corners */
  opacity: 0;  /* Hidden initially */
  pointer-events: none;  /* Disable interaction by default */
  transition: opacity 0.3s ease;  /* Smooth fade-in transition */
}

/* Show the text when hovering over the container */
.image-container-2:hover .video-link {
  opacity: 1;  /* Make the text visible */
  pointer-events: auto;  /* Enable interaction (clicking) */
}


.p_list {
  font-size: 14pt;
  font-family: math;
  text-align: center;
}

ul {
  margin:0;
}
ul li {
  margin: 0;
  padding: 2px 3px; /* reduce vertical spacing */
  
  line-height: 1.5em; /* smaller value = less space between lines */
}


/* Section 1 */
.hero-header {
  background-image: url('{{ site.baseurl }}/assets/images/header_form.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 800px;
  margin-top: -210px;
  margin-bottom: 20px;
}

.google-form{
  height: 850px;
}

.mobile-only  { 
  display: none; 
}

.desktop-only { 
  display: block;
 }


@media (max-width: 768px) {

  html {
    scroll-behavior: smooth;
  }
  
.info-segment {
      text-align: left;
      height: 100%;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 0;
  }
  
  .info-segment-2 {
    padding-left: 20px;
    padding-top: 0px;
    text-align: left;
    margin-right: 20px;
    height: 100%;
  }
  
  
  .header_background {
    width: 768px;
    height: 90px;
    background-color: $background-color;
  }
  
  .section_intro {
    width: 100%;
    height: 350px;
    background-color: $background-color;
  }
  
  
  .programma-segment{
    width: 100%;
    height: auto;
    background-color: $background-color;
    margin-top: 20px;
    margin-top: 40px;
  }
  
  
  .programma-segment-2{
    width: 100%;
    height: auto;
    background-color: $background-color;
    margin-top: 20px;
    margin-top: 40px;
  }
  
  
  .separator {
      // border-color: $primary-color;
      border-color: $primary-color;
      border-width: 3px;
      margin-top: 5px;
      margin-bottom: 20px;
      width: 100%;
      align-items: center;
      margin-left: auto;
      margin-right: auto; /* This will center the separator horizontally */
  }
  
  
  .separator_intro {
    border-color: $primary-color;
    border-width: 3px;
    padding-right:120px;
    width: 180px;
    align-items: center;
    margin-left: auto;
    margin-right: auto; /* This will center the separator horizontally */
  }
  
  
  .separator_program {
    border-color: $primary-color;
    border-width: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 130px;
    align-items: center;
    margin-left: auto;
    margin-right: auto; /* This will center the separator horizontally */
  }
  

  .h2_info {
    text-align: right;
    font-size: 13pt;
    margin-left: auto;
    width: fit-content;
    padding:0;
  }
  
  
  .sub_h2_info {
    font-size: 13pt;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
  }
  

  .page__hero-image {
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    margin-top: 0;
  }
  
  .p_intro {
    font-size: 14pt;
    font-family: math;
    text-align: center;
  }  
  
    
  .li_intro {
    margin:7px;
    font-size: 13pt;
    font-family: math;
  }

  .p_intro_sign {
    font-size: 13pt;
    font-family: math;
    text-align: center;
    padding: 0 15px 0 0;
    margin: 0;
  }
  
  .p_intro_countdown {
    margin:7px;
    font-size: 13pt;
    font-family: math;
  }
  
  .container_countdown {
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13pt;
  }
  
  .style-countdown{
    font-size: 1pt;
  }
  

/* Section 1 */
.hero-header {
  background-image: url('{{ site.baseurl }}/assets/images/header_form.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-top: -30px;
  margin-bottom: 0;

}
  
  .form {
    padding-top: 90px;
    width: 100%;
  }
  
  /* Section 1 */
  .section-1 {
    background-image: url('{{ site.baseurl }}/assets/images/vinci_panorama.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed; /* Fixed background */
    width: auto;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
// /* Section 1 */ Genova
  .hero-1 {
    background-image: url('{{ site.baseurl }}/assets/images/genoa_alto.jpg');  
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background */
    width: auto;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  /* Section 1 */
  .hero-3 {
    background-image: url('{{ site.baseurl }}/assets/images/beach.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed; /* Fixed background */
    width: auto;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  
/* Section 1 */
.hero-4 {
  background-image: url('{{ site.baseurl }}/assets/images/parapendio.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed; /* Fixed background */
  width: auto;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  
  .row-test {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  
  .row-2 {
    padding-left: 0px;
  }
  
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding: 0;
  }
  
  .second-heading-text-center {
        margin-top: 0;
  }
  
  .three_images {
    max-width: 32%;
    overflow: cover;
  }
  
  
  .two_images {
    max-width: 15%;
    max-height: 15%;
    object-fit: cover;
  }
  
  .gallery {
    display: flex;
    overflow: hidden;
    
    width: 100%;
    height: 100%;
  }
  
    /* Style for the program schedule container */
    .program-schedule {
      margin:10px;
      text-align: justify-;      /* Centers text inside the container */
      padding: 20px;
      border: 1px solid #bbb;  /* Optional: Adds a border around the schedule */
      border-radius: 8px;      /* Optional: Rounds the corners of the border */
    }
  
    no-dots {
      list-style-type: none; /* Removes the default bullets */
      padding-left: 0; /* Optional: Removes any default padding */
    }
  
    #countdown {
      font-size: 13pt;
      font-weight: bold;
      text-align: center;
      color: #fff;
      background-color: 	 #e6b800;
      padding: 5px;
      border-radius: 5px;
      width: fit-content;
      height: 40p;
    }
  
  dd {
    display: inline; /* Makes <dd> inline */
  }
  
  .dl-horizontal dt {
    font-family: math;
    float: left;
    width: 120px; 
    overflow: auto;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13pt;
  }
  
  dt {
    font-weight: 700;
    font-size: 13pt;
    width: 150px;              /* Fixed width for alignment */
    text-align: right;         /* Align text to the right */
    padding-top:3px;
    font-size: 13pt;
    margin-right: 0px; /* Optional: Add some space between <dt> and <dd> */
  }

  
  
  dd, dt {
    margin-left: 10px;
    line-height: 1.42857143;
    height: 25px;
    font-family: math;
    font-size: 14pt;
  }
  
  .gallery-2 {
    height: 100%;
    background-color: $background-color;  /* A soft grey that goes well with #fff */
    display: flex;
    overflow: cover;
    justify-content: space-evenly;
    align-items: center;
    padding:0 15px 0 15px;
  }
  
  .p_list {
    font-size: 13pt;
    font-family: math;
    text-align: center;
    margin: 0;

  }

  
  .gallery-3 {
    height: 450px;
    background-color: $background-color;  /* A soft grey that goes well with #fff */
    padding: 105px;
    display: flex;
    overflow: cover;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  .gallery-4 {
    height: auto;
    background-color: $background-color;  /* A soft grey that goes well with #fff */
    display: flex;
    overflow: cover;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* Container for each image */
  .image-container {
    position: relative;
  }
  
  /* Style for the image */
  .image-container img {
    width: 400px;  /* Adjust to fit the container */
    height: 300px;  /* Adjust to fit the container */
    margin-bottom: 55px;
  }
  
  
  /* Style for the clickable text */
  .video-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: white; /* Red text color */
    font-size: 24px;  /* Font size */
    text-decoration: none;  /* Remove underline */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
    padding: 10px 20px;  /* Padding around the text */
    border-radius: 5px;  /* Rounded corners */
    opacity: 0;  /* Hidden initially */
    pointer-events: none;  /* Disable interaction by default */
    transition: opacity 0.3s ease;  /* Smooth fade-in transition */
  }
  
  /* Show the text when hovering over the container */
  .image-container:hover .video-link {
    opacity: 1;  /* Make the text visible */
    pointer-events: auto;  /* Enable interaction (clicking) */
  }
  
  .li_intro {
    margin:7px;
    font-size: 13pt;
    font-family: math;
  }
  
  /* Container for each image */
  .image-container-2 {
    position: relative;
  }
  
  /* Style for the image */
  .image-container-2 img {
    width: 400px;  /* Adjust to fit the container */
    height: 300px;  /* Adjust to fit the container */
    margin-bottom: 10px;
  }
  
  /* Style for the clickable text */
  .video-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the text */
    color: white; /* Red text color */
    font-size: 15px;  /* Font size */
    text-decoration: none;  /* Remove underline */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for contrast */
    padding: 10px 20px;  /* Padding around the text */
    border-radius: 5px;  /* Rounded corners */
    opacity: 0;  /* Hidden initially */
    pointer-events: none;  /* Disable interaction by default */
    transition: opacity 0.3s ease;  /* Smooth fade-in transition */
  }
  
  /* Show the text when hovering over the container */
  .image-container-2:hover .video-link {
    opacity: 1;  /* Make the text visible */
    pointer-events: auto;  /* Enable interaction (clicking) */
  }

  .h2_intro {
    font-size: 13pt;
    padding: 0;
    margin-top: 20px;
  }

  .mobile-only  { 
    display: block; 
  }

  .desktop-only { 
    display: none;
   }

}